.bd {
  width: 100%;
  padding-top: 6.4286rem;
}
.bd-bottom {
  padding-bottom: 4.2143rem;
}
.panel-songslist {
  padding-left: .7143rem;
}
.panel-songslist-item {
  width: 100%;
  height: 4.0714rem;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  display: table;
}
.panel-songs-item-name {
  width: 100%;
  padding-right: 2.657rem;
  display: table-cell;
  vertical-align: middle;
  padding-left: .3571rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-songs-item-download {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
}
.panel-songs-item-download i {
  width: 1.0357rem;
  height: 1.0814rem;
  margin-top: 1.5rem;
  display: inline-block;
  background: url(../images/download_icon_2.png) no-repeat;
  background-size: 100%;
}
.panel-play .top-goback {
  background: -webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));
}

.top-goback {
  width: 100%;
  line-height: 3rem;
  background: -webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));
  padding: 0 2.1429rem;
  position: relative;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-title {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
}
.goback {
  width: 2.1429rem;
  height: 2.8031rem;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
}
.panel-play-bd {
  width: 100%;
  padding-top: 6.0174rem;
  padding-bottom: 2.5rem;
  position: relative;
}
.panel-play-img-box {
  width: 10.7143rem;
  height: 10.7143rem;
  margin: 1.4286rem auto 0;
}
.panel-play-img-box img {
  width: 100%;
}
.panel-play-lrc-box {
  margin-top: .8928rem;
  height: 3.8rem;
  overflow: hidden;
  text-align: center;
  color: #afabac;
}
.panel-play-lrc {
  // height: 3.8rem;
  overflow: hidden;
}
.time-wrap {
  width: 100%;
  padding: .8928rem .7143rem;
  display: box;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-box-orient: horizontal;
  -webkit-box-sizing: border-box;
  box-flex: 1;
  box-align: center;
  box-pack: justify;
  box-orient: horizontal;
  box-sizing: border-box;
}
.time, .timeshow {
  font-size: .6428rem;
  color: #dcdcdc;
}
.progress-wrap {
  height: .1785rem;
  margin: 0 .5357rem;
  background: #232228;
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  z-index: 100;
}
.progress-bar {
  width: 100%;
  height: 100%;
}
.preview-progress {
  background: #6c6b70;
}

.preview-progress, .progress {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
}
.play-operate {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
.play-operate .btn-prev {
  background: url(../images/play_prev.png) no-repeat;
  background-size: 100%;
}
.play-operate .btn-play {
  background: url(../images/play_play.png) no-repeat;
  background-size: 100%;
}
.play-operate .btn-next {
  background: url(../images/play_next.png) no-repeat;
  background-size: 100%;
}
.play-operate .btn-download, .play-operate .btn-next, .play-operate .btn-prev {
  width: 2.3214rem;
  height: 2.4rem;
  margin: 0 .8929rem;
  display: inline-block;
  vertical-align: middle;
}
.play-operate .btn-loading, .play-operate .btn-pause, .play-operate .btn-play {
  width: 3.2143rem;
  height: 3.2143rem;
  margin: 0 .8929rem;
  display: inline-block;
  vertical-align: middle;
}
.bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/logo_kugou.png) no-repeat center center;
  background-size: cover;
  -webkit-filter: blur(15px);
  filter: blur(15px);
}
.goback i {
  width: .85714rem;
  height: 1.42857rem;
  margin-top: .687265rem;
  display: inline-block;
  background: url(../images/goback_1.png) no-repeat;
  background-size: 100%;
}
.panel-play-lrc-box p{width:100%;height:1.7857rem;line-height:1.7857rem;vertical-align:top;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:.8571rem}.panel-play-lrc-box .current{color:#d1c90e}.panel-play-lrc-box .nolrc{color:#fff}
.download-box {
  width: 56.25%;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 1.0714rem auto 0;
  text-align: center;
  color: #fff;
  background: #259ef7;
  font-size: 1rem;
  border-radius: 5px;
}
.download-box i {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/download_icon.png) no-repeat;
  background-size: 100%;
}
.progress span {
  position: absolute;
  top: 50%;
  right: -.4rem;
  margin-top: -.3572rem;
  width: .7143rem;
  height: .7143rem;
  display: block;
  background: #3195fd;
  border-radius: 100%;
}
.progress {
  background: #3195fd;
}
.play-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
}
