/* vw */
$vw_design:750;

html {
  //font-size: 100vw / $vw_design * 100; //表示100px代表多少vw

}

// body{
//   font-size: 65px;
// }
// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
// $vw_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
// @function rem($px) {
//      @return ($px / $vw_fontsize ) * 1rem;
// }
// // 根元素大小使用 vw 单位
// $vw_design: 750;
// html {
//     font-size: ($vw_fontsize / ($vw_design / 2)) * 100vw;
//     // 同时，通过Media Queries 限制根元素最大最小值
//     @media screen and (max-width: 320px) {
//         font-size: 64px;
//     }
//     @media screen and (min-width: 540px) {
//         font-size: 108px;
//     }
// }
// // body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
// body {
//     max-width: 540px;
//     min-width: 320px;
// }

@media screen and (max-width: 1440px) {
  html {
    font-size: 200%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 200%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 200%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 200%;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 150%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 175%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 125%;
  }
}



@media screen and (max-width: 400px) {
  html {
    font-size: 112.5%;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 87.5%;
  }
}








html {
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: 1rem;
}
a{
  text-decoration: none
}
