{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets":{
          "browsers":[">1%","last 2 versions","not ie <= 8"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "jsx-v-model",
    "jsx-vue-functional"
  ]
}
